.center{
    text-align: center;
    color: 	#eeeeee;
}

.center > h1{
    font-size: 4rem;
    font-weight: 900;
    color: #eff8f9;
}

.main{
    gap: 1rem;
    margin: 1rem;
}


.secondary__text{
    font-size: 0.7rem;
}

